<%- include('../partials/header') %>

<h1>Flight Info</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>

      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.Airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>

            <td><%= f.departs ? 'Yes' : 'No' %></td>
            <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
          </tr>
        <% }); %>
    </tbody>
  </table>

<%- include('../partials/footer') %>