<%- include('../partials/header') %>

<section id="show-page">
  <div>Airlines: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departing: </div>
  <div>Departs: </div>
  <div><%= flight.departs ? 'Yes' : 'Nope' %></div>
</section>

<br><br><h2>Destinations</h2>
<form id="add-review-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Destination:</label>
  <select name="airport">
    <option value="SFO" selected>SFO</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="JFK">JFK</option>
  <label>Rating:</label>
  <input type="submit" value="submit">
</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(f) { %>
        <tr>
          <td><%= f.createdAt.toLocaleDateString() %></td>
          <td><%= f.content %></td>
          <td><%= f.rating %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>

<%- include('../partials/footer') %>
