<%- include('../partials/header') %>

<section id="show-page">
  <div>Airlines:
  <div><%= flight.airline %></div> </div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departing: </div>
  <div>Departs: </div>
  <div><%= flight.departs ? 'Yes' : 'Nope' %></div>
</section>

<br><br><h2>Destinations</h2>
<form id='add-destination-form' method='POST'
  action='/destinations/<%= flight._id %>'>
  <label>Destinations:</label><br>
  <label>Airline:</label>
  <select name='airline'>
    <option value='Delta'>Delta</option>
    <option value='United'>United</option>
    <option value='American'>American</option>
    <option value='Southwest'>Southwest</option>
  </select> <br>
  <label>Airport:</label>
  <select name='airport'>
    <option value='SFO'>SFO</option>
    <option value='OAK'>OAK</option>
    <option value='LAX'>LAX</option>
    <option value='HNL'>HNL</option>
  </select><br>
  <label>FlightNo:</label>
    <input type='Number' name='flightNo'>
    <br>
  <label>Arrivals:</label>
    <input type="datetime-local" name="arrival">
  <br>
<input type="submit" value="Add Destination">
</form>

  <% if (flight.destinations.length) { %> 
  <table>
     <thead>
      <tr>
        <th>Airport</th>
        <th>Airline</th>
        <th>Flight Number</th>
        <th>Arrivals</th>
      </tr> 
      </thead> 
    <tbody>
      <% flight.destinations.forEach(function(f) { %>
          <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.arrival %></td>
        </tr> 
      <% }); %>
    </tbody>
  </table>
<% } else { %> 
<% } %>

<%- include('../partials/footer') %>
